Software/Server/NodeRed/data/flows.json
[{"id":"b60375a2ade2fa72","type":"tab","label":"PipeDbInserter","disabled":false,"info":"","env":[]},{"id":"cba6f7cd32b0e340","type":"mqtt-broker","name":"","broker":"192.168.178.116","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"273db3281e1de2c3","type":"mqtt in","z":"b60375a2ade2fa72","name":"","topic":"mesh/dach/#","qos":"2","datatype":"buffer","broker":"cba6f7cd32b0e340","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":220,"wires":[["9002cc125caa98bc","0ff811e0314acb83"]]},{"id":"9002cc125caa98bc","type":"decode","z":"b60375a2ade2fa72","name":"","x":380,"y":220,"wires":[["0474f927d29c786f","0cd451a5bef623bb"]]},{"id":"0474f927d29c786f","type":"mqtt out","z":"b60375a2ade2fa72","name":"","topic":"Test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cba6f7cd32b0e340","x":590,"y":220,"wires":[]},{"id":"0cd451a5bef623bb","type":"debug","z":"b60375a2ade2fa72","name":"decode","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"0ff811e0314acb83","type":"debug","z":"b60375a2ade2fa72","name":"raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]}]